<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SiteGuard - Check Website Safety</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<header>
    <img src="/static/images/SiteGuard.png" class="logo">
    <nav>
        <a href="/">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </nav>
</header>

<main>
    <section class="des">
        <h1>Check If a Website Is Safe</h1>
        <p>Detect phishing, fake websites, and malicious URLs instantly.</p>

        <form method="POST">
            <input type="text" name="url" placeholder="Enter website URL..." required>
            <button type="submit">Scan Website</button>
        </form>

        {% if url %}
        <div id="entered-url" class="result">
            <p>You entered: <strong>{{ url }}</strong></p>


        </div>
        {% endif %}
    </section>

    {% if url %}
    <section class="scan_results">

        <div class="result_box">
            <h3>Final Score</h3>
            <p class="risk-{{ risk_level }}">{{ final_score }}/100 — {{ risk_message }}</p>


            </div>

        <div class="result_box">
            <h3>Malicious Findings</h3>

            {% if findings %}
                {% for title, reason in findings %}
                    <div class="findings">
                        <strong>{{ title }}</strong><br>
                        <small>{{ reason }}</small>
                    </div>
                {% endfor %}
            {% else %}
                <p>No malicious indicators detected.</p>
            {% endif %}
        </div>

    


    </section>
    {% endif %}

</main>

<footer>
    <p>&copy; 2026 SiteGuard. All rights reserved.</p>
</footer>

</body>
</html>
